@import url(https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap);
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: initial;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
* {
  box-sizing: border-box;
}
img {
  height: auto;
  max-width: 100%;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
:root {
  --primary: #fffef4;
  --primary-rgb: 255, 255, 255;
  --white: #fff;
  --wall: #f2e9da;
  --grey: #7c8089;
  --negative: #000;
  --h-negative: #1f1f1f;
  --negative-rgb: 0, 0, 0;
  --sky: #52a5ce;
  --grass: #9cd85d;
  --night: #6e86a2;
  --accent: #97d353;
  --h-accent: #7eb63f;
  --yellow: #fcd50c;
  --h-yellow: #dcba0d;
  --darkblue: #0972b3;
  --flag-blue: #0c345b;
  --blue: #1866ab;
  --h-blue: #0f508f;
  --purple: #9f75cc;
  --h-purple: #744aa0;
  --pink: #fb8ac8;
  --alert: #e53502;
  --red: #ef3333;
  --h-red: #c13e3e;
  --green: #6ae331;
  --h-green: #45b90d;
  --brown: #96563b;
  --h-brown: #7c432b;
  --light-brown: #fbac75;
  --border: var(--grey);
  --global-width: 1760px;
  --global-p-width: 480px;
  --global-padding: 20px;
  --global-body-bg: var(--sky);
  --gutter: 10px;
  --heading: 'Maba', sans-serif;
  --line-height: 1;
  --globall-line-height: 1.3;
  --reduced-line-height: 1.2;
  --body: 'Annie Use Your Telescope', cursive;
  --special: 'Annie Use Your Telescope', cursive;
  --h1: 18.67vw;
  --h2: 18.5vw;
  --h2-reduced: 13.6vw;
  --h3: 5.7vw;
  --h4: 25px;
  --h5: 54px;
  --h6: 54px;
  --tile-txt: 10.3vw;
  --paragraph: 25px;
  --increased: 26px;
  --small: 73%;
  --rate: 0.85;
  --large-radius: 20px;
  --v-small: 20px;
  --v-medium: 50px;
  --v-large: 120px;
  --t-spacer: 11.5vh;
  --btn-large: 21px;
  --btn-huge: 54px;
  --btn-small: 21px;
  --btn-tiny: 12px;
  --btn-radius: 0;
  --btn-padding: 16.66667px 27.5px;
  --btn-huge-padding: 16.66667px 33.33333px;
  --btn-small-padding: 10px 20.83333px;
  --btn-tiny-padding: 7.5px 11.66667px;
}
@media (min-width: 768px) {
  :root {
    --gutter: 15px;
    --h1: 18.67vw;
    --h2: 20.5vw;
    --h2-reduced: 15.1vw;
    --h3: 5.7vw;
    --h4: 40px;
    --tile-txt: 5.3vw;
    --paragraph: 30px;
    --increased: 50px;
    --v-small: 30px;
    --v-medium: 60px;
    --v-large: 12vh;
    --btn-padding: 20px 33px;
    --btn-small-padding: 10px 25px;
    --btn-huge-padding: 14.28571px 28.57143px;
    --btn-tiny-padding: 9px 14px;
  }
}
@media (min-width: 1024px) {
  :root {
    --gutter: 30px;
    --h1: 10.5vw;
    --h2: 8.88vw;
    --h2-reduced: 6.53vw;
    --h3: 4.9vw;
    --h4: 2vw;
    --tile-txt: 3.5vw;
    --paragraph: 35px;
    --increased: 2.6vw;
    --v-small: 30px;
    --v-medium: 60px;
    --v-large: 16vh;
    --btn-huge-padding: 20px 40px;
  }
}
@media (min-width: 1921px) {
  :root {
    --h1: 195px;
    --h2: 170px;
    --h2-reduced: 125px;
    --h3: 93px;
    --h4: 40px;
    --paragraph: 35px;
    --increased: 50px;
    --v-large: 120px;
    --t-spacer: 200px;
    --tile-txt: 54px;
  }
}
@font-face {
  font-display: swap;
  font-family: Maba;
  font-style: normal;
  font-weight: 400;
  src: url(../media/donk.ebc27ba0cf230fc75156.woff2) format('woff2');
}
h1 {
  color: var(--accent);
  font-family: var(--heading);
  font-weight: 400;
  line-height: 0.5;
}
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--body);
  font-weight: 600;
}
a {
  color: inherit;
}
a:hover {
  text-decoration: none;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-size: var(--small);
}
h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
  line-height: calc(var(--h2) * 1.1);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
h5 {
  font-size: var(--h5);
}
h6 {
  font-size: var(--h6);
}
p {
  font-size: var(--paragraph);
}
p.increased {
  font-size: var(--increased);
}
p.tiny {
  font-size: 12px;
}
p small,
p.tiny {
  color: var(--primary);
}
p small {
  font-size: 80%;
}
::selection {
  background: var(--blue);
  color: var(--primary);
}
::-moz-selection {
  background: var(--blue);
  color: var(--primary);
}
button {
  all: unset;
  cursor: pointer;
  font-family: var(--body);
  transition: all 0.2s ease-in-out;
}
button:hover {
  transition: all 0.3s ease-in-out;
}
.btn-group {
  display: flex;
}
.btn-group.spaceless .btn {
  margin-top: 0;
}
.btn-group .btn:not(:last-child) {
  margin-right: calc(var(--gutter) / 2);
}
.btn {
  color: inherit;
  cursor: pointer;
  font-family: var(--heading);
  font-size: var(--btn-large);
  line-height: 1;
  padding: var(--btn-padding);
  position: relative;
  text-decoration: none;
  text-transform: none;
  transition: all 0.2s ease-in-out;
}
.btn.pattern {
  color: var(--negative);
}
.btn:before {
  border: 2px solid var(--negative);
  box-sizing: border-box;
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  -webkit-transform: perspective(48px) rotateY(3deg) rotateX(6deg) rotate(6deg)
    translateX(6px) scale(1.05);
  transform: perspective(48px) rotateY(3deg) rotateX(6deg) rotate(6deg)
    translateX(6px) scale(1.05);
  transition: all 0.2s ease-in-out;
  width: 100%;
  z-index: -1;
}
.btn:not(.spaceless) {
  margin-top: var(--v-medium);
}
.btn:hover {
  text-decoration: none;
}
.btn:hover,
.btn:hover:before {
  transition: all 0.3s ease-in-out;
}
.btn:hover:before {
  -webkit-transform: perspective(54px) rotateY(5deg) rotateX(10deg) rotate(6deg)
    translateX(6px) scale(1.05);
  transform: perspective(54px) rotateY(5deg) rotateX(10deg) rotate(6deg)
    translateX(6px) scale(1.05);
}
.btn.small {
  font-size: var(--btn-small);
  padding: var(--btn-small-padding);
}
.btn-tiny {
  font-size: var(--btn-tiny);
  padding: var(--btn-tiny-padding);
}
.btn.large {
  font-size: var(--btn-huge);
  padding: var(--btn-huge-padding);
}
.btn.primary {
  color: var(--primary);
}
.min-text {
  position: relative;
  z-index: 2;
}
.min-text-2 {
  position: relative;
  z-index: 2;
  right: 75px;
  bottom: 40px;
}
.btn.primary:before {
  background-color: var(--accent);
}
.btn.blue,
.btn.red,
.btn.yellow {
  color: var(--primary);
}
.btn.red.pattern {
  color: var(--negative);
}
.btn.blue:before {
  background-color: var(--blue);
}
.btn.red:before {
  background-color: var(--red);
}
.btn.yellow:before {
  background-color: var(--yellow);
}
.btn.secondary {
  color: var(--primary);
}
.btn.secondary:before {
  background-color: var(--negative);
}
[data-ico] {
  display: block;
  height: 24px;
  position: relative;
  -webkit-transform: translateZ(200px);
  transform: translateZ(200px);
  width: 24px;
}
[data-ico]:before {
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}
[data-ico='tg']:before {
  background-image: url(../media/tg.1418c093b1c289fdeff9.svg);
}
[data-ico='tw']:before {
  background-image: url(../media/tw.0849b4997f0364b0fc32.svg);
}
[data-ico='eth']:before {
  background-image: url(../media/etherscan.9eb45991c49facbee9ac.svg);
}
[data-ico='discord']:before {
  background-image: url(../media/discord.c565e726daa01d8ab4a2.svg);
}
@-webkit-keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--accent);
  }
}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 var(--accent);
  }
}
@-webkit-keyframes whitePulse {
  0% {
    box-shadow: 0 0 0 0 var(--negative);
  }
}
@keyframes whitePulse {
  0% {
    box-shadow: 0 0 0 0 var(--negative);
  }
}
@-webkit-keyframes blackPulse {
  0% {
    box-shadow: 0 0 0 0 var(--primary);
  }
}
@keyframes blackPulse {
  0% {
    box-shadow: 0 0 0 0 var(--primary);
  }
}
@-webkit-keyframes hollowPulse {
  0% {
    box-shadow: 0 0 0 0 rgba(var(--primary-rgb), 0.2);
  }
}
@keyframes hollowPulse {
  0% {
    box-shadow: 0 0 0 0 rgba(var(--primary-rgb), 0.2);
  }
}
@-webkit-keyframes hollowPulseNegative {
  0% {
    box-shadow: 0 0 0 0 rgba(var(--negative-rgb), 0.2);
  }
}
@keyframes hollowPulseNegative {
  0% {
    box-shadow: 0 0 0 0 rgba(var(--negative-rgb), 0.2);
  }
}
@-webkit-keyframes bounce {
  70% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(-11%);
    transform: translateY(-11%);
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  95% {
    -webkit-transform: translateY(-3%);
    transform: translateY(-3%);
  }
  97% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  99% {
    -webkit-transform: translateY(-1%);
    transform: translateY(-1%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes bounce {
  70% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  80% {
    -webkit-transform: translateY(-11%);
    transform: translateY(-11%);
  }
  90% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  95% {
    -webkit-transform: translateY(-3%);
    transform: translateY(-3%);
  }
  97% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  99% {
    -webkit-transform: translateY(-1%);
    transform: translateY(-1%);
  }
  to {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes pattern {
  0% {
    background-position: 0 0;
  }
  to {
    background-position: 0 -30px;
  }
}
@keyframes pattern {
  0% {
    background-position: 0 0;
  }
  to {
    background-position: 0 -30px;
  }
}
html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: var(--v-medium);
}
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--global-body-bg);
  color: var(--negative);
  cursor: url(../media/cursor.1e7e6b737ef4bd786270.svg), autonpm s;
  display: block;
  font-family: var(--body);
  font-size: 26px;
  line-height: var(--globall-line-height);
  overflow-x: hidden;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}
[data-theme='positive'] {
  color: var(--primary);
}
[data-theme='negative'] {
  color: var(--negative);
}
#root {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--global-width);
  padding: 0 var(--global-padding);
}
#root > :not(.exclude):not(.fw) {
  width: 100%;
}
.grid-x {
  align-items: flex-start;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  margin-left: calc(var(--gutter) * -1);
  margin-right: calc(var(--gutter) * -1);
}
.grid-x.no-gutters {
  margin-left: 0;
  margin-right: 0;
}
.grid-x.justify,
.justify {
  justify-content: space-between;
}
.align-center,
.grid-x.align-center {
  justify-content: center;
}
.grid-x.stretch,
.stretch {
  align-items: stretch;
}
.align-middle,
.grid-x.align-middle {
  align-items: center;
}
.grid-x > hr {
  border-color: var(--border);
  margin-left: var(--gutter);
  margin-right: var(--gutter);
  width: 100%;
}
.grid-x > hr:first-child {
  margin-bottom: var(--v-small);
}
.grid-x > hr:last-child {
  margin-top: var(--v-small);
}
.cell-10 .cell-12,
.cell-2,
.cell-3,
.cell-4,
.cell-5,
.cell-6,
.cell-7,
.cell-8 {
  margin-left: var(--gutter);
  margin-right: var(--gutter);
  width: 100%;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.self-top {
  align-self: start;
}
.self-middle {
  align-self: center;
}
.self-bottom {
  align-self: end;
}
.large-border {
  border-radius: var(--large-radius);
}
.break {
  flex-basis: 100%;
  height: 0;
}
.fw {
  margin-left: calc(var(--global-padding) * -1);
  margin-right: calc(var(--global-padding) * -1);
  width: calc(var(--global-padding) * 2 + 100%);
}
.z-2 {
  position: relative;
  z-index: 2;
}
.note {
  background-color: #c1cea0;
  font-size: 18px;
  padding: 10px 0;
  text-transform: uppercase;
}
.circle {
  align-items: center;
  background-color: var(--blue);
  border: 3px solid var(--negative);
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  height: 54px;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  width: 54px;
}
.circle:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}
.circle.secondary {
  background-color: var(--negative);
}
.circle.yellow {
  background-color: var(--yellow);
}
.circle.red {
  background-color: var(--white);
  background-color: var(--red);
}
.socials {
  align-items: center;
  display: flex;
}
.socials a:not(:last-child) {
  margin-right: 5px;
}
.highlight {
  background-color: var(--accent);
  color: var(--primary);
  display: inline-block;
  font-size: 18px;
  margin-top: 5px;
  padding: 1px 7px;
}
.pattern:before {
  -webkit-animation: pattern 2.5s linear infinite;
  animation: pattern 2.5s linear infinite;
  background-image: url(../media/pattern.2715d8ab4981821c893a.svg);
}
[data-theme] {
  position: relative;
}
[data-theme]:before {
  content: '';
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}
[data-theme='dark'],
[data-theme='green'] {
  color: var(--primary);
}
[data-theme='dark']:before {
  background-color: var(--negative);
}
[data-theme='green']:before {
  background-color: var(--accent);
  border: 3px solid var(--negative);
  box-shadow: inset 0 0 0 20px var(--light-brown);
}
[data-theme='yellow']:before {
  background-color: var(--yellow);
}
[data-theme='red']:before {
  background-color: var(--red);
}
[data-theme='blue']:before {
  background-color: var(--darkblue);
  border: 3px solid var(--negative);
}
[data-theme='brown'] {
  color: var(--negative);
}
[data-theme='brown']:before {
  background-color: var(--brown);
  border: 3px solid var(--negative);
}
@media (max-width: 1023px) {
  .show-for-large {
    display: none;
  }
  .issue {
    overflow: visible !important;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
  }
  .z-axis {
    display: block;
    -webkit-transform: translateZ(200px);
    transform: translateZ(200px);
  }
}
@media (max-width: 1024px) {
  #root {
    overflow-x: hidden;
  }
  [data-theme='dark']:before {
    background-color: var(--negative);
  }
  [data-theme='green']:before {
    background-color: var(--accent);
    border: 3px solid var(--negative);
    box-shadow: inset 0 0 0 5px var(--light-brown);
  }
  [data-theme='yellow']:before {
    background-color: var(--yellow);
  }
  [data-theme='red']:before {
    background-color: var(--red);
  }
  [data-theme='blue']:before {
    background-color: var(--darkblue);
    border: 3px solid var(--negative);
  }
  [data-theme='brown'] {
    color: var(--negative);
  }
  [data-theme='brown']:before {
    background-color: var(--brown);
    border: 3px solid var(--negative);
  }
}
@media (min-width: 1024px) {
  .cell-2 {
    width: calc(16.66667% - var(--gutter) * 2);
  }
  .cell-3 {
    width: calc(25% - var(--gutter) * 2);
  }
  .cell-4 {
    width: calc(33.33333% - var(--gutter) * 2);
  }
  .cell-5 {
    width: calc(41.66667% - var(--gutter) * 2);
  }
  .cell-6 {
    width: calc(50% - var(--gutter) * 2);
  }
  .cell-7 {
    width: calc(58.33333% - var(--gutter) * 2);
  }
  .cell-8 {
    width: calc(66.66667% - var(--gutter) * 2);
  }
  .cell-10 {
    width: calc(83.33333% - var(--gutter) * 2);
  }
  .cell-12 {
    width: calc(100% - var(--gutter) * 2);
  }
  .large-text-right {
    text-align: right;
  }
  [data-theme='green']:before {
    box-shadow: inset 0 0 0 20px var(--light-brown);
  }
}
@media (min-width: 1760px) {
  .fw {
    margin-left: calc(((100vw - 1760px) / 2 + var(--global-padding)) * -1);
    margin-right: calc(((100vw - 1760px) / 2 + var(--global-padding)) * -1);
    width: calc(100% + 100vw - 1760px + var(--global-padding) * 2);
  }
}
#root > :not(.spaceless) {
  margin-bottom: var(--v-large);
}
#root > * > .grid-x:not(:last-child):not(.spaceless) {
  margin-bottom: var(--v-medium);
}
[data-ico='clipboard'] {
  height: 24px;
  margin-left: calc(var(--gutter) / 3);
  width: 24px;
}
[data-ico='clipboard']:before {
  background-image: url(../media/clipboard.733fe4dd8bcac2ccf15f.svg);
}
.clipboard {
  align-items: center;
  cursor: pointer;
  display: flex;
  flex-flow: row nowrap;
  font-family: var(--special);
  font-size: 26px;
  -webkit-transform: translateZ(10px);
  transform: translateZ(10px);
}
.contractCopy {
  position: relative;
  z-index: 2;
}
.contractCopy .message {
  background: var(--accent);
  border: 2px solid var(--negative);
  border-radius: var(--btn-radius);
  bottom: 100%;
  box-shadow: inset 0 0 0 5px var(--h-accent);
  color: var(--negative);
  font-size: var(--btn-tiny);
  left: 50%;
  padding: var(--btn-tiny-padding);
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.bat-sep .contractCopy {
  bottom: 19%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%) rotate(-5.6deg);
  transform: translate(-50%, -50%) rotate(-5.6deg);
  white-space: nowrap;
}
.bat-sep .contractCopy [data-ico='clipboard']:before {
  background-image: url(../media/clipboard-w.733fe4dd8bcac2ccf15f.svg);
}
.final-cta {
  margin-bottom: var(--v-medium);
  margin-top: var(--v-medium);
  position: relative;
  z-index: 2;
}
@media (max-width: 640px) {
  .clipboard .reduced {
    bottom: 10px;
    display: inline-block;
    font-size: medium;
    position: relative;
    z-index: 4;
  }
  .min-text {
    height: 100px;
    position: relative;
    font-size: small;
    z-index: 1;
  }
  .min-text-2 {
    height: 100px;
    position: relative;
    right: 0px;
    bottom: 0px;
    font-size: small;
    z-index: 1;
  }
  .parkcun {
    position: relative;
    top: 40px;
    z-index: 0;
  }
}
@media (min-width: 768px) {
  .guide .contractCopy:before {
    -webkit-transform: perspective(51px) rotateY(2deg) rotateX(3deg)
      rotate(-1deg) translateX(21px) scale(1.1);
    transform: perspective(51px) rotateY(2deg) rotateX(3deg) rotate(-1deg)
      translateX(21px) scale(1.1);
  }
  .bat-sep .contractCopy {
    bottom: 15%;
  }
  .bat-sep .clipboard {
    font-size: 3.1vw;
  }
  .bat-sep .contractCopy {
    top: 65%;
  }
}
.around {
  background: #d6ffff;
  background: linear-gradient(0deg, #d6ffff 20%, #99ecff 61%, #52a5ce);
}
.hero {
  align-items: flex-end;
  -webkit-animation: slide 240s linear infinite;
  animation: slide 240s linear infinite;
  background-repeat: repeat-x;
  background-size: auto 70%;
  display: flex;
  justify-content: center;
  min-height: 65vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}
@-webkit-keyframes slide {
  0% {
    background-position: 0 0;
  }
  to {
    background-position: -1920% 0;
  }
}
@keyframes slide {
  0% {
    background-position: 0 0;
  }
  to {
    background-position: -1920% 0;
  }
}
.hero img {
  display: block;
}
.grass {
  max-width: 250%;
  position: relative;
  width: 250%;
  z-index: 1;
}

.grass.solana {
  max-width: 100%;
  position: relative;
  width: 100%;
  z-index: 1;
}

.biden,
.eagle,
.trump {
  position: absolute;
}
.eagle {
  -webkit-animation: eagle 4s ease-in-out infinite;
  animation: eagle 4s ease-in-out infinite;
  left: 15%;
  object-fit: contain;
  top: 0;
  width: 28.5%;
  z-index: 3;
}
@-webkit-keyframes eagle {
  0%,
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}
@keyframes eagle {
  0%,
  to {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
    transform: translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
    transform: translateX(10px);
  }
}
.biden,
.trump {
  bottom: 15%;
  left: 50%;
}
.trump {
  -webkit-transform: translateX(30%);
  transform: translateX(30%);
  width: 43.35%;
  z-index: 2;
}
.trump * {
  display: block;
}
.trump .body {
  width: 100%;
}
.trump .bat,
.trump .sound {
  position: absolute;
}
.trump .bat {
  -webkit-animation: wiggle 1s linear infinite;
  animation: wiggle 1s linear infinite;
  max-width: none;
  right: 9%;
  top: 34%;
  width: 184%;
  z-index: 2;
}
.trump .sound {
  -webkit-animation: sound 1s linear infinite;
  animation: sound 1s linear infinite;
  right: 133%;
  top: 9%;
  width: 37%;
  z-index: 3;
}
@-webkit-keyframes sound {
  0%,
  7% {
    opacity: 0;
    -webkit-transform: translate(-90%);
    transform: translate(-90%);
  }
  15% {
    opacity: 0;
    -webkit-transform: translate(-90%, 12%);
    transform: translate(-90%, 12%);
  }
  20% {
    opacity: 0;
    -webkit-transform: translate(-90%, -7%);
    transform: translate(-90%, -7%);
  }
  25% {
    opacity: 1;
    -webkit-transform: translate(-90%, -3%);
    transform: translate(-90%, -3%);
  }
  30% {
    opacity: 1;
    -webkit-transform: translate(-90%, 6%);
    transform: translate(-90%, 6%);
  }
  35% {
    opacity: 1;
    -webkit-transform: translate(-90%, -3%);
    transform: translate(-90%, -3%);
  }
  40%,
  to {
    opacity: 1;
    -webkit-transform: translate(-90%);
    transform: translate(-90%);
  }
}
@keyframes sound {
  0%,
  7% {
    opacity: 0;
    -webkit-transform: translate(-90%);
    transform: translate(-90%);
  }
  15% {
    opacity: 0;
    -webkit-transform: translate(-90%, 12%);
    transform: translate(-90%, 12%);
  }
  20% {
    opacity: 0;
    -webkit-transform: translate(-90%, -7%);
    transform: translate(-90%, -7%);
  }
  25% {
    opacity: 1;
    -webkit-transform: translate(-90%, -3%);
    transform: translate(-90%, -3%);
  }
  30% {
    opacity: 1;
    -webkit-transform: translate(-90%, 6%);
    transform: translate(-90%, 6%);
  }
  35% {
    opacity: 1;
    -webkit-transform: translate(-90%, -3%);
    transform: translate(-90%, -3%);
  }
  40%,
  to {
    opacity: 1;
    -webkit-transform: translate(-90%);
    transform: translate(-90%);
  }
}
@-webkit-keyframes wiggle {
  0%,
  7% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  15% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  20% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  25% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  30% {
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
  }
  35% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  40%,
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
@keyframes wiggle {
  0%,
  7% {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  15% {
    -webkit-transform: rotate(-15deg);
    transform: rotate(-15deg);
  }
  20% {
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
  }
  25% {
    -webkit-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
  30% {
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
  }
  35% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  40%,
  to {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
}
.biden {
  -webkit-animation: biden 1s linear infinite;
  animation: biden 1s linear infinite;
  -webkit-transform: translate(-90%);
  transform: translate(-90%);
  width: 43.35%;
}
@-webkit-keyframes biden {
  0%,
  7% {
    -webkit-transform: translate(-90%);
    transform: translate(-90%);
  }
  15% {
    -webkit-transform: translate(-90%, 12%);
    transform: translate(-90%, 12%);
  }
  20% {
    -webkit-transform: translate(-90%, -7%);
    transform: translate(-90%, -7%);
  }
  25% {
    -webkit-transform: translate(-90%, -3%);
    transform: translate(-90%, -3%);
  }
  30% {
    -webkit-transform: translate(-90%, 6%);
    transform: translate(-90%, 6%);
  }
  35% {
    -webkit-transform: translate(-90%, -3%);
    transform: translate(-90%, -3%);
  }
  40%,
  to {
    -webkit-transform: translate(-90%);
    transform: translate(-90%);
  }
}
@keyframes biden {
  0%,
  7% {
    -webkit-transform: translate(-90%);
    transform: translate(-90%);
  }
  15% {
    -webkit-transform: translate(-90%, 12%);
    transform: translate(-90%, 12%);
  }
  20% {
    -webkit-transform: translate(-90%, -7%);
    transform: translate(-90%, -7%);
  }
  25% {
    -webkit-transform: translate(-90%, -3%);
    transform: translate(-90%, -3%);
  }
  30% {
    -webkit-transform: translate(-90%, 6%);
    transform: translate(-90%, 6%);
  }
  35% {
    -webkit-transform: translate(-90%, -3%);
    transform: translate(-90%, -3%);
  }
  40%,
  to {
    -webkit-transform: translate(-90%);
    transform: translate(-90%);
  }
}
@media (min-width: 768px) {
  .hero {
    min-height: 100vh;
  }
  .grass {
    max-width: 230%;
    width: 230%;
  }
}
@media (min-width: 1024px) {
  .grass {
    width: 100%;
  }
  .eagle {
    left: 15%;
    width: 15%;
  }
  .trump {
    -webkit-transform: translateX(50%);
    transform: translateX(50%);
    width: 25.5%;
  }
  .trump .sound {
    right: 179%;
    top: 29%;
  }
  .biden {
    -webkit-transform: translate(-90%);
    transform: translate(-90%);
    width: 25.5%;
  }
}
.logo-left {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--v-small);
  margin-top: var(--gutter);
  position: relative;
  z-index: 99;
}
.logo-left .mlogo {
  display: block;
  height: 91px;
  overflow: hidden;
  position: relative;
  width: 208px;
}
.logo-left .mlogo:before {
  background-image: url(../media/logo.460fb8f97621354f4df8.webp);
  background-position: 0;
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}
.logo-left .quicklinks {
  display: flex;
  justify-content: flex-end;
}
.logo-left .quicklinks .btn {
  align-items: center;
  display: flex;
  margin-left: calc(var(--gutter) / 3);
  margin-top: 0;
}
.submenu a {
  text-decoration: none;
}
.submenu a:hover {
  text-decoration: underline;
}
@media (max-width: 640px) {
  .submenu {
    max-width: 100%;
  }
  .logo-left .socials {
    display: none;
  }
}
@media (min-width: 641px) {
  .submenu .hide {
    display: none;
  }
}
@media (max-width: 1023px) {
  .navigation {
    position: relative;
  }
  .submenu {
    background-color: var(--primary);
    border: 2px solid var(--negative);
    border-radius: var(--btn-radius);
    color: var(--negative);
    opacity: 0;
    padding: var(--v-small);
    pointer-events: none;
    position: absolute;
    right: 0;
    text-align: center;
    top: 100%;
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
    transition: all 0.2s ease-in-out;
    width: 100%;
    z-index: 999;
  }
  .submenu.active {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: perspective(470px) rotateY(-1deg) rotateX(12deg)
      rotate(-5deg) translateX(0) translateY(0) scale(1);
    transform: perspective(470px) rotateY(-1deg) rotateX(12deg) rotate(-5deg)
      translateX(0) translateY(0) scale(1);
    transition: all 0.3s ease-in-out;
  }
  .submenu li:not(:last-child) {
    margin-bottom: 10px;
  }
  .submenu a,
  .submenu a:hover,
  .submenu a:visited {
    color: inherit;
  }
  #menuToggle,
  .submenu .contractCopy {
    display: flex;
    justify-content: center;
  }
  #menuToggle {
    align-items: center;
    background-color: var(--red);
    border: 2px solid var(--negative);
    box-shadow: inset 0 0 0 5px var(--h-red);
    height: 54px;
    padding-bottom: 0;
    padding-top: 0;
    position: relative;
    -webkit-transform: perspective(20px) rotateY(-1deg) rotateX(-2deg)
      rotate(3deg) translateX(0) translateY(0) scale(1);
    transform: perspective(20px) rotateY(-1deg) rotateX(-2deg) rotate(3deg)
      translateX(0) translateY(0) scale(1);
    z-index: 998;
  }
  #menuToggle:before {
    display: none;
  }
  #menuToggle:after {
    left: 20px;
  }
  #menuToggle.btn {
    margin-top: 0;
  }
  #menuToggle span {
    background-color: var(--negative);
    height: 2px;
  }
  #menuToggle.active {
    background-color: var(--flag-blue);
    box-shadow: inset 0 0 0 5px var(--blue);
    pointer-events: none;
  }
  #menuToggle.active span {
    background-color: var(--negative);
  }
  #menuToggle > span {
    -webkit-touch-callout: none;
    margin-left: auto;
    position: relative;
    width: 16px;
    z-index: 101;
  }
  #menuToggle > span span {
    display: block;
    position: absolute;
    width: 100%;
  }
  #menuToggle > span span:first-child {
    margin-top: -5px;
  }
  #menuToggle > span span:last-child {
    margin-top: 5px;
  }
  #menuToggle.active > span span {
    opacity: 0;
  }
}
@media (min-width: 768px) {
  .submenu {
    max-width: 320px;
  }
}
@media (min-width: 1024px) {
  .navigation {
    justify-content: flex-end;
  }
  .navigation > * {
    flex-basis: 0;
    flex-grow: 1;
    flex-shrink: 1;
  }
  .logo-left .mlogo {
    width: 208px;
  }
  .submenu {
    display: flex;
    justify-content: center;
  }
  .submenu li:not(:last-child) {
    margin-right: var(--v-small);
  }
  .submenu a {
    white-space: nowrap;
  }
  #menuToggle {
    display: none;
  }
}
.idle-screen {
  align-items: center;
  display: flex;
  justify-content: center;
  left: 50%;
  position: fixed;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 999;
}
.idle-screen .overlay {
  -webkit-animation: pattern 2.5s linear infinite;
  animation: pattern 2.5s linear infinite;
  background-color: var(--red);
  background-image: url(../media/pattern.2715d8ab4981821c893a.svg);
  border: 3px solid var(--negative);
  border-radius: var(--large-radius);
  padding: var(--gutter);
}
.idle-screen .overlay h3 {
  line-height: 1;
  margin-bottom: 0;
}
@media (max-width: 1024px) {
  .idle-screen {
    display: none !important;
  }
}
.footer {
  font-family: var(--special);
  font-size: 12px;
  padding-bottom: var(--v-medium);
  padding-top: var(--v-medium);
  position: relative;
}
.footer a {
  color: var(--negative);
}
.footer .copy {
  font-size: 26px;
}
.footer:before {
  content: '';
  display: block;
  height: 100%;
  left: 0;
  margin-left: calc(var(--global-padding) * -1);
  margin-right: calc(var(--global-padding) * -1);
  position: absolute;
  top: 0;
  width: calc(var(--global-padding) * 2 + 100%);
  z-index: -1;
}
.footer .info > .copy :not(:last-child) {
  margin-right: 20px;
}
.disclaimer {
  max-width: 640px;
}
.disclaimer small {
  display: block;
}
.disclaimer small,
.lit small {
  color: var(--negative);
  font-size: 21px;
  line-height: 23.1px;
}
.lit a {
  text-decoration: none;
}
.lit a:hover {
  text-decoration: underline;
}
.lit img {
  margin-left: 10px;
}
.stripe {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .footer .contractCopy {
    margin-top: calc(var(--gutter) / 2);
  }
  .lit {
    margin-top: var(--v-small);
  }
  .lit img {
    max-width: 150px;
  }
}
@media (min-width: 768px) {
  .footer .info {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 100%;
  }
}
@media (min-width: 1024px) {
  .footer .info > .copy :not(:last-child) {
    margin-right: 40px;
  }
}
@media (min-width: 1760px) {
  .footer:before {
    margin-left: calc(((100vw - 1760px) / 2 + var(--global-padding)) * -1);
    margin-right: calc(((100vw - 1760px) / 2 + var(--global-padding)) * -1);
    width: calc(100% + 100vw - 1760px + var(--global-padding) * 2);
  }
}
.launching {
  align-items: center;
  background-color: var(--grass);
  display: flex;
  flex-flow: column nowrap;
}
.cosign {
  margin-top: var(--v-medium);
}
.sign {
  position: relative;
}
.launching .heading {
  width: 75.2vw;
}
.bat-sep {
  position: relative;
}
.bat-sep img {
  display: block;
  margin-left: -25%;
  max-width: 150%;
  width: 150%;
}
.boxui {
  height: 100px;
  left: 50%;
  position: absolute;
  top: 50%;
  -webkit-transform: translate(-54%);
  transform: translate(-54%);
  width: 59%;
}
.boxui .cell {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 41%;
}
.boxui .cell:first-child .display {
  -webkit-transform: perspective(103px) rotateY(3deg) rotateX(-2deg)
    rotate(3deg) translateX(7px) scale(1.05);
  transform: perspective(103px) rotateY(3deg) rotateX(-2deg) rotate(3deg)
    translateX(7px) scale(1.05);
}
.boxui .cell:last-child .display {
  -webkit-transform: perspective(103px) rotateY(3deg) rotateX(-9deg)
    rotate(0deg) translateX(9px) scale(1.05);
  transform: perspective(103px) rotateY(3deg) rotateX(-9deg) rotate(0deg)
    translateX(9px) scale(1.05);
}
.boxui .display {
  align-items: center;
  background-color: var(--negative);
  border-radius: 4px 1px 3px 4px;
  display: flex;
  font-size: 4.26vw;
  justify-content: center;
  padding: 3px 7px;
  width: 89.6%;
}
.display.for-biden {
  color: var(--red);
}
.display.for-trump {
  color: var(--green);
}
.boxui .row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.boxui .btn {
  color: var(--primary);
  margin: 0;
}
.boxui .btn.pattern {
  color: var(--negative);
}
.boxui .btn.for-biden:before {
  background-color: var(--blue);
}
.boxui .btn.for-biden:active {
  cursor: not-allowed;
  text-decoration: line-through;
}
.boxui .btn.for-biden:active:before {
  background-color: var(--grey);
}
.boxui .btn.for-trump:before {
  background-color: var(--red);
}
@media (max-width: 1023px) {
  .launching .heading {
    margin-bottom: 50px;
  }
}
@media (max-width: 768px) {
  .sign img {
    margin-left: -17%;
    max-width: 120%;
    width: 120%;
  }
}
@media (max-width: 767px) {
  .boxui .btn.large {
    font-size: var(--btn-small);
    padding: var(--btn-small-padding);
  }
}
@media (min-width: 768px) {
  .bat-sep img {
    margin-left: 0;
    max-width: 100%;
    width: auto;
  }
}
@media (min-width: 769px) {
  .boxui {
    height: 100px;
    -webkit-transform: translate(-40%, 21%);
    transform: translate(-40%, 21%);
    width: 48%;
  }
  .boxui .display {
    font-size: 2.26vw;
    width: 64%;
  }
}
@media (min-width: 1024px) {
  .sign {
    padding: 0 7%;
  }
  .launching .heading {
    width: 40.2vw;
  }
}
@media (min-width: 1921px) {
  .launching .heading {
    width: 775px;
  }
  .boxui .display {
    font-size: 64px;
  }
}
#about {
  background-color: var(--grass);
}
.bush-sep,
.nature {
  width: 100%;
}
#about .heading {
  margin-bottom: -14vh;
  margin-left: 5%;
  margin-top: -22vh;
  width: 60%;
}
.donk-stress {
  position: relative;
}
.donk-stress img {
  display: block;
  width: 100%;
}
.parkbushes {
  bottom: 0;
  left: 0;
  position: absolute;
  width: 100%;
}
@media (min-width: 768px) {
  #about .heading {
    height: 40vh;
    margin-bottom: -4vh;
    margin-top: -22vh;
    width: 58%;
  }
}
@media (min-width: 1024px) {
  #about .heading {
    height: 0;
    margin-bottom: -22vh;
    margin-top: -33vh;
    width: 40%;
  }
  #about .heading img {
    padding-left: 10%;
    padding-right: 10%;
  }
}
@media (min-width: 1441px) {
  #about .heading {
    margin-bottom: -33vh;
  }
}
@media (min-width: 1921px) {
  #about .heading {
    width: 924px;
  }
  #about .heading img {
    width: 100%;
  }
}
#tokenomics {
  align-items: center;
  background-color: var(--grass);
  display: flex;
  flex-flow: column nowrap;
}
#tokenomics .heading {
  margin-top: -6vh;
  width: 72%;
}
#tokenomics .heading img,
.bidenold {
  width: 100%;
}
.bidenold {
  position: relative;
}
.bidenold img {
  display: block;
}
.donkbiden {
  bottom: 9.66%;
  left: 4%;
  position: absolute;
  width: 37%;
}
.donkbiden img {
  width: 100%;
}
.supertrump {
  -webkit-animation: bounce 2s linear infinite;
  animation: bounce 2s linear infinite;
  bottom: 49%;
  position: absolute;
  right: 4%;
  width: 36%;
}
.pup1,
.pup2 {
  border-radius: 50%;
  height: 21%;
  left: 0;
  position: absolute;
  top: 10%;
  width: 24.5%;
}
.pup1 {
  left: 24.5%;
  top: 49%;
}
.pup2 {
  left: 52.5%;
  top: 47%;
}
@media (min-width: 1024px) {
  #tokenomics .heading {
    margin-bottom: -10vh;
    margin-top: -22vh;
    width: 41%;
  }
}
@media (min-width: 1921px) {
  #tokenomics .heading {
    width: 802px;
  }
}
#roadmap {
  align-items: center;
  background-color: var(--flag-blue);
  background-image: url(../media/bg-roadmap.5fbbee8242bb9001e8b0.webp);
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: 100% auto;
  display: flex;
  flex-flow: column nowrap;
}
#roadmap .heading {
  width: 70%;
}
#roadmap .heading p {
  background-color: var(--primary);
  border: 3px solid var(--negative);
  -webkit-transform: perspective(150px) rotateY(3deg) rotateX(-3deg)
    rotate(5deg) translateX(0) scale(1);
  transform: perspective(150px) rotateY(3deg) rotateX(-3deg) rotate(5deg)
    translateX(0) scale(1);
}
.focus img {
  display: block;
}
.roadsteps {
  margin-top: var(--v-large);
  position: relative;
}
.steplist {
  display: flex;
  flex-flow: row wrap;
  position: relative;
  -webkit-transform: translateY(calc(var(--v-large) / -2));
  transform: translateY(calc(var(--v-large) / -2));
  z-index: 1;
}
.roadmap-heading {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  pointer-events: none;
}
.guide {
  margin-top: var(--v-medium);
  width: 100%;
}
.guide .step {
  display: flex;
}
.fsteps {
  max-width: var(--global-width);
  padding-left: var(--gutter);
  padding-right: var(--gutter);
  text-align: left;
}
.fsteps,
.large-lbl {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
}
.large-lbl {
  align-items: center;
  border: 3px solid var(--negative);
  color: var(--negative);
  display: flex;
  justify-content: center;
  margin-bottom: var(--v-small);
  padding: var(--btn-huge-padding);
}
.large-lbl.negative {
  background-color: var(--white);
  -webkit-transform: perspective(150px) rotateY(3deg) rotateX(7deg) rotate(5deg)
    translateX(0) scale(1);
  transform: perspective(150px) rotateY(3deg) rotateX(7deg) rotate(5deg)
    translateX(0) scale(1);
}
.large-lbl.negative:hover {
  top: -20px;
}

.large-lbl.light h4 {
  margin-bottom: var(--v-medium);
}
@media (min-width: 768px) {
  .large-lbl {
    width: 90%;
  }
}
@media (max-width: 1023px) {
  .roadpath {
    margin-left: calc(var(--global-padding) * -1);
    margin-right: calc(var(--global-padding) * -1);
    width: calc(var(--global-padding) * 2 + 100%);
  }
  .roadsteps {
    margin-bottom: var(--v-large);
  }
}
@media (min-width: 1024px) {
  #roadmap h2 {
    margin-left: auto;
    margin-right: auto;
    width: 33vw;
  }
  #roadmap .heading {
    align-items: center;
    display: flex;
    flex-flow: column nowrap;
    width: auto;
  }
  #roadmap .heading p {
    max-width: 640px;
  }
  .large-lbl {
    width: 100%;
  }
}
#promo {
  align-items: center;
  background: #52a5ce;
  background: linear-gradient(0deg, #52a5ce, #0c345b 80%);
  display: flex;
  flex-flow: column nowrap;
}
#promo .heading {
  width: 85%;
}
.whac-scene {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}
.game {
  position: relative;
  z-index: 1;
}
.count {
  align-items: center;
  color: var(--green);
  display: flex;
  font-size: 8.55vw;
  height: 6%;
  justify-content: center;
  text-align: center;
  top: 37%;
  -webkit-transform: translate(-48%);
  transform: translate(-48%);
  width: 28%;
  z-index: 1;
}
.count,
.heads {
  left: 50%;
  position: absolute;
}
.heads {
  height: 10.1%;
  top: 58.2%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: 84%;
  z-index: 2;
}
.heads img {
  display: block;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
}
.heads .head {
  border-radius: 0 0 50% 50%;
  overflow: hidden;
  position: absolute;
}
.heads .head:first-child,
.heads .head:nth-child(2) {
  bottom: 18.55%;
  width: 48%;
  z-index: 2;
}
.heads .head:first-child {
  left: 1%;
}
.heads .head:first-child img {
  -webkit-animation: joe1 3s linear infinite;
  animation: joe1 3s linear infinite;
}
.heads .head:nth-child(2) {
  right: -1.5%;
}
.heads .head:nth-child(2) img {
  -webkit-animation: joe1 3s linear 1s infinite;
  animation: joe1 3s linear 1s infinite;
}
.heads .head:nth-child(3) {
  bottom: 66%;
  left: 31%;
  width: 40%;
  z-index: 1;
}
.heads .head:nth-child(3) img {
  -webkit-animation: joe1 3s linear 2s infinite;
  animation: joe1 3s linear 2s infinite;
}
@-webkit-keyframes joe1 {
  0%,
  7% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  15% {
    -webkit-transform: translateY(90%);
    transform: translateY(90%);
  }
  20% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  25% {
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
  30% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  35% {
    -webkit-transform: translateY(4%);
    transform: translateY(4%);
  }
  40%,
  to {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
@keyframes joe1 {
  0%,
  7% {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
  15% {
    -webkit-transform: translateY(90%);
    transform: translateY(90%);
  }
  20% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  25% {
    -webkit-transform: translateY(10%);
    transform: translateY(10%);
  }
  30% {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
  35% {
    -webkit-transform: translateY(4%);
    transform: translateY(4%);
  }
  40%,
  to {
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
  }
}
.bat-scene {
  position: absolute;
  right: 0;
  top: 10%;
  z-index: 2;
}
.bat-wrap {
  /* overflow: hidden; */
  position: relative;
}
.bat-scene img {
  display: block;
}
.final-cta .socials {
  margin-top: var(--v-medium);
}
.final-cta .socials .circle {
  height: 80px;
  width: 80px;
}
@media (min-width: 768px) {
  .count {
    font-size: 6.55vw;
  }
}
@media (max-width: 1023px) {
  #promo .heading {
    margin-bottom: 10vh;
  }
  .bat-scene {
    width: 42%;
  }
}
@media (min-width: 1024px) {
  #promo .heading {
    width: 40vw;
  }
  .bat-scene {
    width: 340px;
  }
  .count {
    font-size: 3.55vw;
  }
}
@media (min-width: 1200px) {
  .bat-scene {
    width: 480px;
  }
}
@media (min-width: 1441px) {
  .bat-scene {
    width: 640px;
  }
}
@media (min-width: 1921px) {
  #promo .heading {
    width: 827px;
  }
  .count {
    font-size: 70px;
  }
}

.bat {
  transform-origin: bottom center;
  animation: swing 0.5s ease-in-out infinite;
}

@keyframes swing {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-35deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
